<div class="wrapper-profile-dashboard top-spacing">
  <%= render 'shared/subnavbar' %>
  <div class="container padded">
 <%= render 'shared/user_profile' %>
    <div class="col-md-9 col-sm-9">
    <div class="panel-explication">
    <div class="row">
    <% if @ads.empty? %>
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <div class="empty-ad well text-center">
              <div class="icon fa fa-smile-o"></div>
                <h1>Encore aucun vol planifié</h1>
                <%= link_to "HOME", root_path, class: "btn btn-primary" %>
              </div>
            </div>
<% else %>
    <% @ads.each do |ad| %>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <%= render ad %>
    </div>
    <% end %>
<% end %>
    </div>
    </div>
  </div>
</div>
</div>
