<h1>afficher de toutes les annonces</h1>
<p><%= link_to "créer une nouvelle annonce" , new_ad_path %></p>
<% @ads.each do |a| %>
  <p><%= a.price %></p>
  <p><%= a.description %></p>
  <p><%= a.flight_date %></p>
<% end %>
