<div class="top-spacing">
  <%= render 'shared/subnavbar' %>
</div>
<% if @ads.empty? %>
<div class="wrapper marged" style="height: 51vh;">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="empty-ad">
        <div class="icon fa fa-smile-o"></div>
          <h1>Encore aucun vol planifié</h1>
          <%= link_to "HOME", root_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class="banner-show index-ad" style="height: 200px; font-weight: lighter;">
<p><strong>Voici mes vols</strong></p>
</div>
<div class="container">
  <div class="row">
    <% @ads.each do |ad| %>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <%= render ad %>
    </div>
    <% end %>
  </div>
</div>
<% end %>

