<div class="title_page padded"><strong>Voici mes vols</strong></div>

<div class="container">
  <div class="row">
    <% @ads.each do |ad| %>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <%= render ad %>
    </div>
    <% end %>
  </div>
</div>
<div class="padded"></div>
<div class="container text-center">
<%= link_to "Retour à l'accueil", root_path, :class => "btn btn-danger" %>
</div>
<div class="padded"></div>

