<h1 class="text-center">Résultat de la recherche </h1>

<div class="container">
  <div class="row">
    <% @ads.each do |ad| %>
    <%= render ad %>
    <% end %>
  </div>
</div>
<div class="container text-center">
<%= link_to "Retour à l'accueil", root_path, :class => "btn btn-danger" %>
</div>
<div class="container padded-basket text-center">
<%= link_to "Créez une annonce", new_ad_path, :class => "btn btn-danger" %>
</div>
