<h1>entrez un id d'annonce</h1>



<p><%= @ad.price %></p>
      <p><%= @ad.description %></p>
      <p><%= @ad.flight_date %></p>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">

    </div>
  </div>
</div>

