/**
 * This file contains reusable CSS classes.
 */

/** Text **/
.font-3 { font-size:10px; line-height:1.3em; }
.font-4 { font-size:11px; line-height:1.3em; }
.font-5 { font-size:13px; line-height:1.3em; }
.font-6 { font-size:14px; line-height:1.3em; }
.font-7 { font-size:15px; line-height:1.3em; letter-spacing: 0.4px; }
.font-8 { font-size:16px; line-height:1.3em; } /* Site default */
.font-10 { font-size:20px; line-height:1.3em; }
.font-15 { font-size:28px; line-height:1.3em; letter-spacing:-0.01em; }
.font-20 { font-size:42px; line-height:1.3em; letter-spacing:-0.01em; }
.font-30 { font-size:50px; line-height:1.3em; letter-spacing:-2px; }
.font-40 { font-size:60px; line-height:1.3em; letter-spacing:-0.01em; }
.font-45 { font-size:70px; line-height:1.3em; letter-spacing:-3px; }

/** Scaling text **/
.font-s2, .font-s3, .font-s4 { line-height:1em; -webkit-font-smoothing: subpixel-antialiased; }
.font-s2 { font-size:2.5vw; }
.font-s3 { font-size:3.5vw; }
.font-s4 { font-size:6vw; }

.shout { text-transform:uppercase; }
.capitalize { text-transform: capitalize; }
.txt-center { text-align: center; }
.txt-left { text-align: left; }
.txt-right { text-align: right; }

.txt-max { max-width:1000px; } /* Stops lines of text becoming too long. */
.txt-max-half { width:1000px; max-width: 50%; }

.txt-italic { font-style: italic; }
.txt-hover { cursor: pointer; }
.txt-hover:hover { text-decoration: underline; }

.ellipsis { /* Overflowing text on a single line */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/** Layout **/
.hidden { display: none !important; }
.invisible { visibility:hidden; }
.centered { display:block; margin-left:auto; margin-right:auto; }

.full-width { width:100%; /*min-width:1024px;*/ box-sizing: border-box; }
.half-width { width:50%; }
.full-height { height:100%; }
.side-width { width: 256px; }

.spaced-v {
    margin-top: 20px; margin-top:1vw;
    margin-bottom: 20px; margin-bottom:1vw;
}
.spaced-2v { margin-top:2vw; margin-bottom:2vw; }
.spaced-h {
    margin-left: 20px; margin-left:1vw !important;
    margin-right: 20px; margin-right:1vw !important;
}
.spaced-2b { margin-bottom:2vw; }
/* 25px does't really match the other units we're using. */
.spaced-b {
    margin-bottom: 25px !important;
}

/* Don't add any more of these. Thanks. */
.pad-2h, .pad-h, .page-margins {
    padding-left:40px; padding-left:2vw;
    padding-right:40px; padding-right:2vw;
}
.pad-1h, .pad-h-half {
    padding-left:20px; padding-left:1vw;
    padding-right:20px; padding-right:1vw;
}
.pad-l {
    padding-left:40px; padding-left:2vw;
}
.pad-r {
    padding-right:40px; padding-right:2vw;
}
.pad-v {
    padding-top:40px; padding-top:2vw;
    padding-bottom:40px; padding-bottom:2vw;
}
.pad-2v {
    padding-top:80px; padding-top:4vw;
    padding-bottom:80px; padding-bottom:4vw;
}
.pad-v-half {
    padding-top:20px; padding-top:1vw;
    padding-bottom:20px; padding-bottom:1vw;
}
.pad-b {
    padding-bottom:40px; padding-bottom:2vw;
}
.pad-b-half {
    padding-bottom:20px; padding-bottom:1vw;
}

/* Where would this be useful? Can it be named something that will make it easy to find in the codebase? */
.indent {
    margin-left: 30px;
}


.col2 {
    -webkit-column-count: 2;
    -moz-column-count:2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap:2em;
    column-gap: 2em;
}

.no-break {
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    display: inline-block; /* Hack, as the above isn't really supported */
}

/* Table layout */
.table { display:table; width:100%; /*height:100%;*/ box-sizing:border-box; table-layout:fixed; }
.table-row { display:table-row; }
.cell, .cell-top, .cell-btm { display:table-cell; }

/*.border-right { border-right: 10px solid #fff; }*/
/*.border-left { border-left: 10px solid #fff; }*/
.cell-height { height: 100%; overflow: auto; }

/** Alignment **/
.float-left { float: left; }
.float-right { float: right; }
.align-top { vertical-align: top; }
.align-mid { vertical-align: middle; }
.align-btm { vertical-align: bottom; }

.min-height { min-height: 598px; }

.inline { display:inline-block; }

.abs { position:absolute; } /* Deprecated. Use one including the position. */
.abs-tl { position:absolute; top:0; left:0; }
.abs-bl { position:absolute; bottom:0; left:0; }
.abs-br { position:absolute; bottom:0; right:0; }
.abs-bm { position:absolute; bottom: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; }
.abs-cover { position:absolute; top:0; bottom:0; left:0; right:0; }

/*.top-left { top: 0; left: 0; }*/
/*.bottom-left { bottom: 0; left: 0; }*/

/* Fancy FX */
.shadow { box-shadow:1px 3px 6px rgba(0, 0, 0, 0.2); }
.overline { border-top: 8px solid #000; }

/**  **/
.unstyled-list { margin:0; padding:0; list-style:none; }

/** Forms **/
.txt-input { padding:0.5em; border:1px solid #e5e5e5; border-radius:0; }

/** Dropdowns **/
.dropdown-select {
    height: 34px;
    overflow: hidden;
    background: url("../images/core/down_arrow.png") no-repeat #fff;
    background-position: right 10px top 15px;
    border: 1px solid #e5e5e5;
}

.dropdown-select select {
    background: transparent;
    padding: 5px;
    font-size: 16px;
    line-height: 1.2em;
    border: 0;
    border-radius: 0;
    height: 34px;
    width: 100%;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
}

/** Buttons **/
.button {
    display: inline-block;
    margin:0 auto;
    border: none;
    padding: 0.75em 1em;
    cursor: pointer;
    text-transform: uppercase;
    text-align:center;
    white-space:normal;

    /* Undo Apple defaults */
    border-radius:0;
    -webkit-appearance:none;
}

/** Tabs **/
.tab { cursor:pointer; }
.tab-page:not(.abs-tab) { display:none; }
.tab-page.open:not(.abs-tab) { display:block; }
.tab-page.abs-tab { visibility:hidden; }
.tab-page.abs-tab.open { visibility:visible; }

/** Graphics **/
.icon-cart { background-image:url('../images/icons/shopping-bag.png'); }
.icon-reset { background-image:url('../images/icons/reset.png'); }
.icon-search { background-image:url('../images/icons/search.png'); }
.icon-right { background-image:url('../images/icons/arrow-right.png'); }
.icon-down { background-image:url('../images/icons/arrow-down.png'); }
.icon-circle-plus { background-image:url('../images/icons/circle-plus.png'); }
.icon-circle-minus { background-image:url('../images/icons/circle-minus.png'); }

.icon-button { /* A button with an icon on the left. */
    padding-left:34px;
    background-repeat:no-repeat;
    background-position:0.5em center;
}

.icon-button-r { /* A button with an icon on the right. */
    padding-right:28px;
    background-repeat:no-repeat;
    background-position:right 0.5em center;
}


/** Colours **/
.bg-black { background-color: #000; color:#fff; }
.bg-grey { background-color: #191919; color:#fff; }
.bg-grey-med {background-color: #333; color:#fff; }
.bg-grey-lt { background-color: #a9a9a9;}
.bg-grey-vlt { background-color: #ededed;}
.bg-grey-vvlt { background-color: #f7f7f7;}
.bg-white { background-color: #fff; color: #171717; }
.bg-brand { background-color: #fe5e00; }
.bg-blue { background-color: #004466; }

.brand-txt, .brand-txt-hover:hover { color: #fe5e00; }
.brand-hover:hover { color: #fe5e00; }
.white-txt { color: #fff; }
.black-txt { color: #000; }


/** Media **/
.fullscreen-video { margin-bottom:-2px; } /* Fixes white line under video in FireFox. */


/** FX **/
.revealable-h { display:inline-block; overflow:hidden; width:0; transition:width 0.5s; white-space:nowrap; }
.fadable { opacity:1; transition:opacity 500ms; }
.fadable.fade { opacity:0; }

.fade-out-on-hover:hover { opacity:0.5; }

/* Rotates an element and sticks it to the right of the screen. */
.stuck-rotate-right {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin:right bottom;
    -webkit-transform-origin:right bottom;
    position:fixed;
}

/** This looks like something specific to the Help Centre. Please move. **/
.subtopic-option[disabled] {
    display: none;
}

/** Carousel **/
.carousel-slide-fade {
    opacity:0;
    transition: opacity 1.5s;
}

.carousel-slide-fade-active {
    opacity:1;
    z-index:1;
}

.carousel-nav {
    margin:0.25em;
    border:none;
    padding:0;
    background-color: #FFF;
    cursor:pointer;
    width:1em;
    height:1em;
    border-radius: 0.5em;
    opacity:0.5;
}

.carousel-nav-active {
    opacity:1;
}