@charset "UTF-8";

/* TODO Review this. It looks very unnecessary. jj -13/10/2014 */
body,input,iframe,h1,h2,h3,h4,p,a,img,strong,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,tbody,thead,tr,th,td{
	border:0;
    outline:0;
    font-size:100%;
    margin:0;
    padding:0;
}

body.contentpane {
    min-width: 0;
}

:focus{outline:0}
ol,ul{list-style:none}
em { font-style: inherit; }


table{border-collapse:separate;border-spacing:0}
caption,th,td{text-align:left;font-weight:400}


div.content > .wrapper > h1,
div.content > .wrapper > h2,
.page-header-byline.border {
	border-bottom: 1px solid #e5e5e5;
    font-size: 42px;
    height: 40px;
    color:#151515;
    line-height: 40px;
    margin-top: 38px;
    padding-bottom: 15px;
    letter-spacing:-0.02em;
}

div.popup-message.error {background-color:#fff}

div.geobanner{display:none; visibility:hidden}
body.sitemap div.content > .wrapper h2 {font-size: 28px;margin-bottom: 20px;margin-top: 20px;}

h3{font-size:1.2em;margin:0 0 3px}
h4{font-size:1.1em;margin:0 0 .2em}
h5{margin:0 0 3px}
ol{list-style:decimal inside none}
select { font:inherit; }

header a,
footer a { color:#FFF; }
a {
	color:inherit;
	text-decoration:none;
}
.content p{
    margin:11px 0;
}
.content #information p,
.content #article p{text-transform:none}

.content #information a, .content #article a {color: #000; text-decoration: underline;}
.content #information a:hover, .content #article a:hover {color: #ff5e00;}

body {
	position:relative;
	min-width:1024px;
	/*min-width:890px;*/
	line-height:1em;
	letter-spacing: 0.05em;
}


.fixed_width,
body.giftcard .account-page .account.login {
    width: 1024px;
    margin: 0 auto;
}

video {
    background-color: transparent !important;
}



p.byline,
p.phone-number {
     float: right;font-size:15px;
    margin-top: -72px;
    text-transform: capitalize;
}


p.byline{
    margin-top: -35px;
    font-size:15px;
}

p.byline .number, p.byline .number a,
p.phone-number .number, p.phone-number .number a {
    color: #ff5e00;
}

/* Deprecated: Use .button.primary */
.orange-button{
background-color: #ff5e00;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
	min-width:250px;
    text-align: center;cursor: pointer;
    text-transform: uppercase !important;

	/* Undo Apple defaults */
	border-radius:0;
	-webkit-appearance:none;
}

/* Deprecated: Use .button.primary */
.small-orange-button{
background-color: #ff5e00;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;cursor: pointer;
    text-transform: uppercase !important;

	/* Undo Apple defaults */
	border-radius:0;
	-webkit-appearance:none;
}

.orange-button:hover,
.small-orange-button:hover {background-color:#ff7525}
.small-orange-button.wishlist,
.orange-button.wishlist{padding-left:10px; padding-right:10px}
.orange-button.wishlist{margin-top:10px;font-size:14px;}
.orange-button.right{float:right;}

/* Deprecated: Use .button.secondary */
.grey-button{
background-color: #f2f2f2;
    color: #0e0e0e;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase !important;

	/* Undo Apple defaults */
	border-radius:0;
	-webkit-appearance:none;
}

.grey-button:hover,
.dark-grey-button:hover {
	background-color: #fe5e00;
	color: #fff;
}

/* Deprecated: Use .button. Then create a new class for dark buttons. */
.dark-grey-button{
background-color: #0b0b0b;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    line-height: 21px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase !important;
}

/* Idris product page buttons */
.idris_pp .button.primary {
    background-color: #2d318c;
}

.idris_pp .button.primary:hover {
    background-color: #252876;
}


/** ---- CORE ---- **/
input.radio,input.checkbox,li.checkbox input{margin:3px 0}

input.button.cross{
	border:0;
	background:url(../images/core/popup_close.png) no-repeat center center #4b4b4b;
	width:26px;
	height:26px;
	padding:0
}
input.button.cross:hover {
	background-color: #fe5e00;
}

.clear{clear:both;display:block}




/** PBF-53: Fix to ensure MiniBar initialises correctly **/
body.home:not(.stuck-header) header .logo {
    min-height: 85px;
}

/** Header top row **/
.headerbar-menu { height:2em; line-height:2em; }
.headerbar-menu li { float:left; }
.headerbar-menu li a {
    display:inline-block;
    padding-left:40px; padding-left:2vw;
    padding-right:40px; padding-right:2vw;
}
.headerbar-menu li + li { float:right; }
.headerbar-menu li + li a { background-color:#ff5e00; }
.headerbar-menu li + li a:hover { background-color:#ff7525; }


/** Links move down for narrow viewport **/
.header-menu-row { margin-top:-5em; }
@media (max-width: 1200px) {
    .header-menu-row { margin-top:-3em; }
}

/** Main menu **/
.main-menu > ul { margin-left:-1em; margin-left:-1vw; }
.main-menu > ul > li { display:inline-block; }
.main-menu > ul > li > a,
.main-menu > ul > li > .separator { display:inline-block; padding:1em; padding:1em 1vw; cursor:pointer; }

.main-menu .highlight > a:after,
.main-menu .highlight > .separator:after,
.main-menu > ul > li > a:hover:after{
    content:" ";
    display:block;
    margin: 2px 0 -5px;
    width:100%;
    height:3px;
    background:#fe5e00;
}

/** Logo **/
header .logo { position:relative; z-index:1; padding:0.25em 0; width:249px; }


/* Idris menu item styling */
.main-menu .item_idris a {
	margin-left:1em; margin-left:1vw;
	margin-right:1em; margin-right:1vw;
    background:#2d318c url(../images/idris/idris-menu-logo.png) no-repeat center center;
    width: 54px;
}
.main-menu .item_idris a span {
    visibility: hidden;
}
.main-menu .item_idris a:hover:after {
	margin-left:-1px;
	width:103%;
	background:#fff;
}


/** Search box **/
#reveal-search { right:0; }
#reveal-search:hover { background-color: #ff5e00; }
.revealable-search-form.reveal  { position:relative; z-index:1; width:270px; }
#menusearch .txt-input { border:none; width:220px; vertical-align: middle; }
#menusearch input,
#menusearch .button { padding-top: 0; padding-bottom:0; height:33px; box-sizing:border-box; /*vertical-align: middle;*/ }


/** Additional menu items **/
.header-menu { margin-right:-1em; margin-right:-1vw; }
.header-menu .menu { display:inline; }
.header-menu .menu li { display:inline-block; }
.header-menu .menu a {
    display:inline-block;
    padding:1em 1em 1em 39px; padding-right:1vw;
    background-repeat:no-repeat;
    background-position:0.5em 0.6em;
}
.header-menu #AutoResults { text-align: left; }
.header-menu .menu .position-1 a { background-image:url('../images/icons/account.png'); }
.header-menu .menu .position-2 a { background-image:url('../images/icons/wishlist.png'); }
#cart-summary a { display:inline-block; padding-top:1em; padding-right:1em; padding-right:1vw; padding-bottom:1em; background-position:0.5em 0.6em; }


/** Drop down menu **/
.menu-dropdown { top:152px; left:0; z-index:3; padding-top:2em; padding-bottom:2em; text-transform:none; white-space:nowrap; }
.menu-dropdown ul {
	display:inline-block;
	margin-right:4em; margin-right:4vw;
	vertical-align:top;
}
.menu-dropdown li { padding:0.25em 0 0.25em; }
.menu-dropdown li,
.menu-dropdown a { color:#151515; }
.menu-dropdown a:hover,
.menu-dropdown .hover a,
.menu-dropdown .active a { color:#fe5e00; }

@media (min-width: 1200px) {
	.menu-dropdown { top:120px; }
	/* More evenly spaced menu items on larger screen */
	.menu-dropdown ul {
		min-width:130px;
	}
}

/** Overrides for New In menu **/
#holdernewin { display:inline-block; }
#holdernewin li { padding-right:0; }


#account_dropdown {
    color: #000;
    width: 200px;
    white-space: normal;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

#account_name {
    margin-top: -30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-left: -20px;
    margin-right: -20px;
}

#credit_info {
    margin-top: 15px;
}

/** Floating header **/
.stuck-header header { position:fixed; z-index: 2; top:0; width:100%; }
.stuck-header .hide-on-stick { display:none; }
.stuck-header .logo img { height:45px; }
.stuck-header .header-menu-row { margin-top:-54px; }
.stuck-header .menu-dropdown { position:fixed; top:53px; }

@media (max-width: 1200px) {
    /* Hide logo on smaller screens */
    .stuck-header .logo { display:none; }
    .stuck-header .header-menu-row { margin-top:0; }
}



form#login{overflow:visible;width: 100%;}

#information h3 span{visibility:hidden}

div.main-menu ul.menu li.item1,
.newsletter-confirm .buttons a.confirm,
#checkout-step legend,form.billing legend,form.register legend,
div#float-banner h2,div#float-banner p,div#float-banner a span,div.l_foot_cc ul li a span,
.l_foot_cc .creditcard a span,.creditcard p,div.social-media ul li span,
h1.category-header span,.con_checkout-step legend,#minibag .no-items span,
.signin_firstline span {display:none}


.arrow-button-left a,.arrow-button-right a,
p.required strong,
.account form label strong,
div.footer ul.menu li a:hover,
div.footer ul.menu li.active a,
.checkout-steps a.active,
#checkout-step strong,
p.error,
#information .active,
#information h3:hover,
div.footer_new li.position-1 span.separator,
div.floatingfooter li.position-1 span.separator,
.con_checkout-step strong,
p.error,
.pr-snippet .pr-snippet-write-first-review a.pr-snippet-link,.pr-snippet .pr-snippet-write-review a.pr-snippet-link,
#holdermens .s_menu .active a,#holderwomens .s_menu .active a,#holdernewin .s_menu .active a,
.search-panel div.s_menu a:hover,.non_javascript div.s_menu a:hover{color:#ff5e00}

ul.pop_up_languages a:hover,
.non_javascript div.s_menu a{text-decoration:none}


.popup-message .buttons a {display:inline-block}
#minicart_dropdown {
    background:#fff;
    position:absolute;
    right:40px; right:2vw;
    width:380px;
    z-index:2;
    box-shadow:0 0 6px rgba(0, 0, 0, 0.4);
}

#minicart_dropdown .menu_pad {
   margin-bottom: 0;
}

div#shopping-bag .bg_pad{
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.98);
	filter: alpha(opacity=98);
}
#minicart_dropdown .orange_up{display:none}
#minicart_dropdown #minibag {display:block;float:left;height:auto;margin:30px 30px 15px;max-height:378px;overflow:hidden;padding:0;width:/*335px*/320px;z-index:998}
#minibag span.mb_prodwrap {clear:both;display:block;margin-bottom:25px;padding-bottom:15px;padding-top:15px; border-top:1px solid #ebebec}

.mb_removebutton {
/* 	overfow:hidden; */
	float:right;
	padding-left:26px;
	width:0;
	height:26px;
	cursor: pointer;
	background-image: url("../images/core/popup_close.png");
	background-repeat: no-repeat;
	background-color: #4a4a4a;
	background-position:center center;
}

.mb_removebutton:hover {
	background-color: #fe5e00;
}

#minibag span .mb_prodimg {float:left; padding-bottom: 15px;}
#minibag span .mb_productinf {
	display:block;
	float:right;
	width:150px;
/* 	letter-spacing: 0.8px; */
	line-height:17px;
	padding-top: 25px;
	color:#151515;
}

#minibag .name {
	display: block;
	text-transform:none;
	color:#151515;
	font-size: 15px;
}

.mb_productinf .promo-basket-item {margin-top:15px; max-width: 150px;}
#minibag span.mb_price { font-size:15px;display:block;margin-bottom:0.7em}
#minibag span.mb_size { display:block; margin-top: 20px;}
#minibag span .mb_qty { display:block}
#minibag span .mb_qty,#minibag span .mb_size{text-transform:capitalize;font-size:12px}
#minibag span.mb_promo {display:inline-block; font-size: 12px; line-height: 14px; text-transform: capitalize; color: #ff6600; font-weight: bold; border: 1px solid #ff6600; text-align: center; padding: 0.2em 0.5em; min-width: 100px;}

#minicart_dropdown #minibag_end{clear:both;font-size:18px;height:110px;margin:0 35px; border-top: 1px solid #ebebec;}
#minicart_dropdown #minibag_end.emptybag {height:4px; border:none;}
#minicart_totalprice,#minicart_totalprice_saved,#minicart_ordercredit{font-weight:700;margin:0 0 0 10px;padding:0;text-align:right;width:100px;text-transform: uppercase;letter-spacing: 0;}
div.minicart_totalprice{text-align:center;padding: 20px 18px 20px;color: #151515;}
div.minicart_discount {margin-bottom:10px; font-weight: bold; color: #ff6600; margin-top: -5px}
#minicart_ordersaving{margin-left:10px}
#minicart_total, #minicart_saving, #minicart_credit {margin:0 0 0 10px;text-transform: capitalize;}
#minicart_total_saved{margin:0 0 0 10px;}

#minicart_paynow{clear:both;float:right;width:190px; margin-bottom:10px; }
#minicart_paynow span{width:190px; height:42px; display:block;  background-color: #ff5e00;text-transform: uppercase;line-height:42px;font-size:14px;text-align:center}
#minicart_viewbag span{width:110px; height:42px; display:block;  background-color: #4a4a4a;text-transform: uppercase;line-height:42px;font-size:14px;text-align:center}

#minicart_viewbag span:hover{background-color:#ff5e00}
#minicart_paynow span:hover{background-color:#ff7525}

#minicart_viewbag{float:left;}

#mbscroll-container-vertical,#mbscroll-container-vertical_saved{display:inline;float:right;height:408px;margin:25px 5px 0 0;width:16px}
.mbscroll-vert{background: none repeat scroll 0 0 #fff;
    border-right: 1px solid #d7d7d7;
    height: 408px;
    margin: 0 auto;
    width: 2px;
    }
.mbscroll-vert #mbscrollhandle,.mbscroll-vert #mbscrollhandle_saved{background-color: #e1e1e1;
    cursor: pointer;
    margin: 0 -3px;
    width: 10px;}

#minibag_delivery,#minibag_delivery_saved{ clear:both; background: none repeat scroll 0 0 #0d0d0d;font-size: 14px;height: 33px;padding-top: 17px;text-align: center;margin-top:20px;margin-left:-1px;}
#minibag .no-items { background: url("../images/core/mini-cart-img.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 126px;
    margin-top: 12px;
    width: 320px;}
#minibag .no-items .blurb {margin-top:21px; float:left}
#minibag .no-items .blurb span{color: #0a0a0b; text-align: left; display: block; font-size: 28px;margin-left:110px;text-transform: capitalize;line-height:25px}
#minibag .shopping_bag {padding-top:25px}
#minibag .shopping_bag a {background-color: #ff5e00;
    display: block;
    float: left;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    margin-right: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 154px;}

#minibag .shopping_bag a.shopping_bag_womens{margin-right:0}


.arrow-button-left a,
.arrow-button-right a,
p.required strong,
.account form label strong,
.color-brand
{color:#ff5e00}

/** ---- CONTENT ---- **/
div.content{
	clear:both;
	overflow:hidden;
	position:relative;
	width:100%;
}

div.content > .wrapper{background-color:#fff;min-height:598px;position:relative; padding:0 !important;color:#151515;}

.parent-category-body {color:#151515}

.menu_giftcard { display: none; }

#menuitem641,.mennewsletter,.vm_mennewsletter,div.shop,#banner-container,.lightface .lightfaceContent,.popup .lightfaceContent{position:relative}
div.content div.wrapper div#page-banner,div.content div.wrapper #page-bannerx,div.content div.wrapper #page-banner-gender{position:relative;}
.recommendations{overflow: hidden;padding-bottom: 5px;padding-top: 5px;text-transform: none;}
#banner-overlay{background:none repeat scroll 0 0 #151515;display:none;left:0;position:absolute;top:0;width:980px;z-index:2}

.recently-viewed img {
	vertical-align: middle;
}

.prices .price s {font-size: 12px;}
.prices .price span {font-size: 16px;}

#homepage-text {
    padding: 40px;
    padding: 2vw;
}
#homepage-text p, #homepage-text a {color:#fff;/*text-transform: none;*/}
#homepage-text a:hover { color:#fe5e00; }
#homepage-text .set_text{padding-top:0px;text-align:center; width:980px;margin: 0 auto;}
#homepage-text p{
    line-height:25px;
    margin: 0 auto;
    text-transform:uppercase;
}
#homepage-text h1{
    font-size: 12px;
    text-transform: none;
}
#homepage-text h1 a{letter-spacing:0.8px;}


#homepage-text .additional{
    font-size:12px;
    text-transform:none;
}

#homepage-text a.read-more {
    background-image: url("../images/core/read_more.png"); }
#homepage-text a.read-less {
    background-image: url("../images/core/read_less.png"); }
#homepage-text a.read-less,
#homepage-text a.read-more {
    color: #fe5e00;
    cursor: pointer;
    margin: 0 auto;
    padding-right: 34px;
}
div.content div.wrapper .tencms_rule{background:url(../images/backgrounds/horiz_rule.jpg) repeat scroll 0 0 #000;display:block;height:4px;margin:19px 0 0;position:relative;width:980px}

.wishlist-signin {text-transform: none;padding-top:10px;}
.wishlist h1, .wishlist h2 {letter-spacing:-0.9px;}
.wishlist h2{margin-bottom:0 !important}

form.wishlist-move-all {padding-bottom: 50px;}
form.email-wishlist {padding-top: 40px; padding-bottom: 30px;}

p.register {clear:both;padding-top:15px;}

.account-page form#login {
	margin-left: 0px !important;
	margin-top: 0px !important;
}

.account-page form#login .button.secondary {
	float: right;
	margin-top: 20px;
	min-width: 178px;
}

.account-page p.message {
	color: #ff5e00;
	font-size: 16px;
	margin-top: 28px;
	margin-bottom: -28px;
}

.account-page p.error {
	color: #ff5e00;
	font-size: 16px;
	margin-bottom: 16px;
}

.account-page p.error a {
    color: #FF5E00 !important;
    text-decoration: underline;
}

.account-page p.error.password {padding-top: 25px;}

/** ---- Breadcrumb ---- **/
.breadcrumbs {
    font-size: 12px;
    padding: 1.25em 0 1em;
}

div.gender_wrapper .breadcrumb {padding: 15px 20px 15px 0;}

.chevron {
    height: 10px;
    width: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

.breadcrumbs span {color: #a9a9a9;}
.breadcrumbs a span:hover {color: #ff5e00;}
.idris .breadcrumbs a span:hover{color: #252876;}

/** ---- FOOTER ---- **/

.cbContainer .buttons a.arrow-button-right,
.address-list .arrow-button-right,
table.wishlist .move form,.arr_btn_small_right{float:right}
.ff_right .footer-menu {float:right;max-width:300px;/*padding:7px 0 0 40px*/width:23%;padding-left:2%;}
.ff_right .why-shop {width: auto;}
.ff_right li.position-2{margin-top:7px}
.ff_right .separator { display:block; margin-bottom:1.5em; font-size:12px; line-height:1.3em; color:#ff5e00; }
.ff_right .footer-menu a { display:block; margin:1em 0; }

.ff_right a:hover{color: #ff5e00}
.ff_left{
	width: 250px;
}

div.footer_new li.position-1 span.separator span {font-size:12px; line-height: 18px; vertical-align: top;}
#newsletter-form{ height:98px; }
#newsletter-form label{ display: inline-block; }
#newsletter-form label .asset {
    background:#000 url(../images/core/envelope.png) no-repeat;
    display: inline-block;
    height: 17px;
    width: 32px;
}

#newsletter-form #newsletter_email{    border: 0 none;
    float: left;
    font-size: 13px;
    height: 33px;
    margin-top: 10px;
    padding-left: 5px;
    text-transform:none;
    width: 235px;}
#newsletter_men_submit,#newsletter_women_submit{background-color: #fe5e00;
    border: medium none;
    color: #fff;line-height: 29px;
    cursor: pointer;
    float: left;
    font-size:12px;
    height: 30px;
    position: relative;
    text-transform: uppercase;
    top: 7px;}
#newsletter_men_submit{
	margin-right: 6px;
    width: 117px;
}
#newsletter_women_submit{width: 117px;}



.choose_country{
	color:#fff;
	font-size:13px;
}
select#site_select{-moz-appearance:none;background-color:#fff;border:0 none;border-radius:0;cursor:pointer;width:240px}
select > option{-moz-padding-end:5px;-moz-padding-start:3px;padding-bottom:0;padding-top:0}
#site_select_msdd{
	background:url(../images/core/down_arrow.png) no-repeat scroll 220px center #fff;
	color:#868686;
	cursor:pointer;
	height:32px;
	margin-top:9px;
	overflow:hidden;
}
#site_select_msdd #site_select_child ul li{background-color:#fff; padding-left:2px; padding-bottom: 3px;}
#site_select_msdd #site_select_child ul li:hover{background-color:#f99317}
img.fnone{width:28px;height:18px;background:url(../images/flags/flags.png);display:inline-block}
img.flag_es{background-position:-168px 0}
img.flag_au{background-position:-56px 0}
img.flag_de{background-position:-112px 0}
img.flag_ca{background-position:-336px 0}
img.flag_be{background-position:-28px 0}
img.flag_nl{background-position:-308px 0}
img.flag_fr{background-position:-224px 0}
img.flag_it{background-position:-252px 0}
img.flag_kr{background-position:-280px 0}
img.flag_us{background-position:-84px 0}
img.flag_tw{background-position:84px 0}
img.flag_ch{background-position:-364px 0}
img.flag_cn{background-position:-392px 0}
img.flag_fi{background-position:-196px 0}
img.flag_no{background-position:-420px 0}
img.flag_se{background-position:-448px 0}
img.flag_dk{background-position:-140px 0}
img.flag_hk{background-position:56px 0}
img.flag_ie{background-position:28px 0}
#site_select_msdd .fnone{margin-left:5px;margin-top:8px;position:absolute}
#site_select_title .ddlabel{margin-left:40px;margin-top:10px;position:absolute; text-transform:uppercase}
#site_select_child{bottom:33px;height:auto!important;top:auto!important}
#site_select_msdd #site_select_child ul{background-color:#fff;margin-top:6px;width:240px}
#site_select_msdd #site_select_child ul .fnone{float: left;margin-left: 3px;margin-top: 2px;position: relative;}
#site_select_msdd #site_select_child ul .ddlabel{float: left;margin-top: 3px;padding-left: 4px;font-size:13px}

.social-media ul { margin-top:0.5em; }
.social-media li {
	display:inline;
}
.social-media ul a {
	display:inline-block;
	background-image:url("../images/core/icons/social-icons.png?v=1");
	width:22px;
	height:24px;
}

.social-media .sm3 a {
	background-position:-2px 0;
}
.social-media .sm5 a {
	background-position:-33px 0;
}
.social-media .sm4 a{
	background-position: -63px 0;
}
.social-media .sm6 a {
	background-position: -93px 0;
}
.social-media .sm7 a {
	background-position:-123px 0;
}

.social-media .sm9 a {
    background-position:-152px 0;
}

.social-media .sm8 a {
	background-position:-183px 0;
	width: 42px;
}

.l_foot_cc{ float:right; margin:4em 0 0; }
.l_foot_cc ul { display:inline; }
.l_foot_cc li{display:inline;float:right;padding-left:10px}
.l_foot_cc ul a{
	display:inline-block;
	background-image:url(../images/superdry/template/payment-methods.png);
}
.l_foot_cc .delta{height:25px;width:37px;background-position:-244px 0}
.l_foot_cc .switch{height:24px;width:19px;background-position:-131px 0}
.l_foot_cc .solo{height:24px;width:19px;background-position:-150px 0}
.l_foot_cc .electron{height:24px;width:38px;background-position:0 0}
.l_foot_cc .mastercard{height:24px;width:34px;background-position:-208px 0}
.l_foot_cc .visa{height:24px;width:34px;background-position:-40px 0}
.l_foot_cc .amex{height:24px;width:38px;background-position:-531px 0; }
.l_foot_cc .paypal{height:23px;width:37px;background-position:-169px 1px;cursor:pointer}
.l_foot_cc .giropay{height:25px;width:58px;background-position:-371px 0}
.l_foot_cc .elv{height:24px;width:20px;background-position:-351px 0}
.l_foot_cc .ideal{height:24px;width:27px;background-position:-429px 0}
.l_foot_cc .sofort{height:24px;width:70px;background-position:-281px 0}
.l_foot_cc .verisign{height:23px;width:54px;background-position:-77px 0}
.l_foot_cc .klarna{height:23px;width:52px;background-position:-569px 0}
.l_foot_cc .afterpay{height:23px;width:80px;background-position:-620px 0}
.l_foot_cc .alipay{height:23px;width:38px;background-position:-456px 0}
.l_foot_cc .unionpay{height:23px;width:38px;background-position:-493px 0}

.l_foot_cc .sdry {
    color: gray;
    white-space: nowrap;
    display: inline-block;
    padding:0.5em 0;
    /*float: right;*/
}



/** ---- POPUP ---- **/
.lightface .lightfaceContent, .popup .lightfaceContent {
    position: relative;
}
.lightface, .popup {
    border-collapse: collapse;
    left: -9000px;
    margin: 0;
    outline: medium none;
    padding: 0;
    position: absolute;
    top: -9000px;
}

.popup .lightfaceContent {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.3em;
    padding: 2em;
    text-align: center;
}
/*.popup .lightfaceFooter {*/
     /*float: right;*/
    /*overflow: hidden;*/
    /*width: 34px;*/
/*}*/

.popup .lightfaceMessageBox{
	color: #151515;
    font-size: 15px;
    line-height: 1.3em;
    margin: 2em;
    overflow: hidden;
    text-align: center;
    text-transform: none;
    /*min-width: 493px;
    max-width: 565px;*/
}

.popup .lightfaceMessageBox h3 {
	font-size: 46px;
    line-height: 40px;
    margin-bottom: 0.25em;
    text-align: left;
    letter-spacing: -0.05em;
}
.popup .lightfaceMessageBox p {
	line-height: 1.3em;
    text-align: left;
}

.popup .lightfaceMessageBox a {
	color: #000;
    text-decoration: underline;
}

.popup .lightfaceFooter .button {
    /*color: #f7941d;*/
    /*cursor: pointer;*/
    /*font-size: 11px;*/
    /*text-decoration: none;*/
    /*text-transform: lowercase;*/
	margin:0 0.5em;
}

.popup .lightfaceFooter .close {
	position:absolute;
	top:1em;
	right:1em;
	margin:0;
	padding:0;
	float: right;
	width:34px;
	height:34px;
	background-image:url("../images/core/popup_close.png");
	background-repeat:no-repeat;
	background-position:center center;
    cursor: pointer;
}

.agree .lightfaceFooter a {
    display: inline-block;
    float: none;
    padding: 0;
    text-decoration: underline;
}

.agree .lightfaceFooter .confirm {
	bottom: 10px;
    color: #151515;
    float: left;
    height: 40px;
    left: 0;
    position: absolute;
    width: 100%;
}
.agree .lightfaceFooter .confirm span {
	background-color: #fe5e00;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 30px;margin-top: 5px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-transform: uppercase;
}

.agree .lightfaceFooter .confirm:not(.disabled) span:hover,
.product-popup form:not(.disabled) .new-grad-button input:hover,
.popup .close:hover,
.cbContainer .buttons .close:hover {
	background-color: #fe7525;
}

.agree .lightfaceFooter .disabled {
	pointer-events: none;
	cursor: default;
}

.agree .lightfaceFooter .disabled span{
    background-color: #7b7b7b;
    pointer-events: none;
   cursor: default;
}

.popup .close {
    background: url("../images/core/popup_close.png") no-repeat center center #fe5e00;
    float: right;
    width:34px;height:34px;
}

.popup .close span {
	display: none;
}

.popup.nomargin .lightfaceMessageBox {
    margin: 0;
}

.lightface td, .popup td {
    background-color: transparent;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.popup .phone span {
	position: absolute;
	text-transform: uppercase;
	font-size: 16px;
	background-color: #ff5e00;
	color: #fff;
	height: 25px;
	left: 215px;
	padding-bottom: 2px;
	padding-top: 8px;
	top: 180px;
	width: 120px;
}

.popup .confirm span:hover {background-color: #fe7525;}

.popup .popup-nav {
    width: 5px;
    height: 0px;
    top: 50%;
    padding: 0 5px;
    margin-top: -8px;
    bottom: 0;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    opacity: .3;
    color: #74737;
}

.popup #popup-left-nav {
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 15px solid;
    left: 0;
}

.popup #popup-right-nav {
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid;
    right: 0;
}


/** JS dropdowns **/
.js_dropdown {
	display:inline-block;
	line-height: 1.3em;
	cursor:pointer;
	font-size: 16px;
	color: #5E5E5E;
}

.js_dropdown > span,
.js_dropdown li {
	/* Dropdown.js only works properly if the left padding is measured in px. */
	padding:0.75em 14px;
	font-size:14px;
}

.js_dropdown > span {
	display: inline-block;
	padding-right:35px;
	border:1px solid #e5e5e5;
	background-image: url("../images/core/down_arrow.png");
	background-repeat:no-repeat;
	background-position:right 20px;
}

.js_dropdown ul {
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 0;
	list-style: none outside none;
	border: 1px solid #3a3a3c;
	background-color: #fff;
}

.js_dropdown li:hover {
	background-color: #ff5e00;
	color: #fff;
}

/* Idris colour override */
.idris_pp .js_dropdown li:hover {
    background-color: #2d318c;
}

/** ---- PRODUCT POPUP ---- **/
.product-popup {
	background-color: #fff;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    padding: 8px;
    height:324px;
    position: absolute;
    width: 592px;
    z-index: 895;
	text-transform: none;
}

.shop-product_details .product-popup {
	top: 200px;
}


.product-popup .image {
	float: left;
}

.product-popup form {
    float: left;
    padding: 20px 0 0 20px;
    width: 265px;
}


.product-popup .page-title {
	margin: 0.5em 0;
	font-size: 37px;
    color: #0b0b0b;
}

.product-popup .js_dropdown ul {
	width: 195px;
}

.product-popup .button {
	margin: 10px 0;
	width: 220px;
	font-size:16px;
}

.product-popup .disabled .button,
.product-popup .disabled .button:hover,
.theme_idris .product-popup .disabled .button,
.theme_idris .disabled .button:hover {
    background-color: #bbb !important;
}

.product-popup .close {
    position: absolute;
    float: right;
    width:34px;
    height:34px;
    color: #222;
    cursor: pointer;
    line-height: 17px;
    padding-right: 0px;
    right: 10px;
    top: 8px;
	background-image: url("../images/core/popup_close.png");
	background-repeat: no-repeat;
	background-color: #fe5e00;
	background-position:center center;
    text-decoration: none;
    text-transform: lowercase;
}
.product-popup .close:hover {
	background-color: #ff7525;
}

.theme_idris.product-popup .close {
    background-color: #2d318c;
}

.theme_idris.product-popup .close:hover {
    background-color: #252876;
}

.cbContent > span  {text-transform: lowercase}

 .cbOverlay {
    z-index: 9999;
}
.cbContainer {
    background-color: #fff;
    color: #151515;
    height: auto !important;
    padding: 10px;
    text-transform: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
    margin-left: 30px;
    z-index: 99999;
}

.cbContainer p {
	text-transform: none;
	text-align: center;
}


.newsletter-confirm.popup-message {
	padding: 50px;
    text-align: center;
    text-transform:none;
    font-size:15px;
}

.cbContainer .buttons {
    margin: 5px -15px 10px 0;
    overflow: hidden;
}

.newsletter-confirm.popup-message .buttons {
    float: right;
    margin: -45px;
}

.newsletter-confirm.popup-message .buttons {
	  left: 100%;
}

#confirm-terms { margin-right: 10px; margin-top: -2px;}

.cbContainer .buttons .close {
    background: url("../images/core/popup_close.png") no-repeat center center #fe5e00;
    float: right;cursor: pointer;
    width:34px;height:34px;
    left: 100%;
    margin-left: -48px;
    top:10px;
    position: absolute;
}
.cbOverlay,
.popup-overlay,
#page-overlay {
    background-color:#000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 850;
}

.popup-overlay {display:block}
.cbOverlay {display:block}

.an-overlay {z-index: 890; background-color:#000; background-color:rgba(0, 0, 0, 0.4);}

.tcElement {padding-top: 10px}

div.gender_footer a:hover,
#minibag .shopping_bag a:hover,


#newsletter_men_submit:hover,#newsletter_women_submit:hover {background-color: #ff7525;}

p.error {text-transform:none}

.promo-basket-item {
    clear: both;
    padding:0.2em 1em !important;
    font-size: 12px !important;
    line-height: 14px;
    min-width: 100px;
    display: inline-block;
}



.button.small {
    padding: 0.37em 0.5em;
}

.button.tiny {
    padding: 0 0.8em;
    line-height:2.5em;
}

.button.primary {
	background-color: #fe5e00;
	color: #fff;
}

.button.primary:hover {
	background-color: #fe7525;
}


.theme_idris .button.primary {
    background-color: #2d318c;
}

.theme_idris .button.primary:hover {
    background-color: #252876;
}

.button.secondary {
    background-color: #f2f2f2;
	color: #000;
}

.button.inverted, .button.inverted.no-action:hover {
	border: 1px solid #ff6600;
	background-color: #fff;
	color: #ff6600;
	text-transform: none;
	/*cursor: default;*/
}

.button.shadow {
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
}

.btn-mid {
    background-color: #666;
    background-color:rgba(80, 80, 80, 0.9);
    color: #fff;
}

.button.action {
	background-color: #0b0b0b;
	color: #fff;
}

.button.secondary:hover,
.button.action:hover,
/*.button.inverted:hover,*/
.button.btn-mid:hover {
	background-color: #fe5e00;
	color: #FFF;
}

.button.large {
	font-size: 16px;
}

.no-action {
	cursor: default !important;
}

.button.disabled, .button.disabled:hover {
	background-color: #ddd;
	color: #fff;
	cursor: auto;
}

/** Titles **/
.page-title {
	font-size:42px;
	letter-spacing: -0.03em;
	text-transform: capitalize;
	line-height: 1em;
}


/** Accordion **/
.accordion .toggle { line-height:35px; font-size:14px; text-transform:uppercase; cursor:pointer; }
.accordion .toggle.half-size { line-height:1em; margin-botttom: 10px; }
.accordion .toggler-icon { margin-right:1em; }

.toggler-icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	vertical-align: top;
	background-color: #000;
	background-image: url("../images/core/icons/plus-minus.png");
	background-repeat:no-repeat;
	background-position: 9px -17px;
	background-position: 9px 9px;
}

.active .toggler-icon, .activeToggler .toggler-icon { background-position: 9px -17px; }

.toggler-icon.half-size {
    width: 17.5px;
    height: 17.5px;
    background-position: 5px 5px;
    background-size: contain;
}

.active .toggler-icon.half-size, .activeToggler .toggler-icon.half-size { background-position: 5px -9px; }

.toggler-icon-sm {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-image: url("../images/icons/sm-toggle-plus.png");
    background-repeat:no-repeat;
}

.active .toggler-icon-sm { background-image: url("../images/icons/sm-toggle-minus.png"); }

/** A container for absolutely positioned elements **/
.absolute-container { position:relative; }

/** An element to show tick/cross validation next to. **/
.dual-validation-field::after {
	content: "";
	margin:0 0.5em;
	width:2em;
	height:2em;
	display:inline-block;
	background-size: 2em;
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align:middle;
}

.dual-validation-field.valid::after {
	background-image: url('../images/validation/tick.png');
}

.dual-validation-field.invalid::after {
	background-image: url('../images/validation/cross.png');
}

/** Tooltip **/
.tooltip {
	display:inline-block;
	position: absolute;
	z-index: 1;
	padding:1em;
	max-width: 45%;
	background: #fff;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.tooltip::after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
}

.tooltip.right::after {
	right: 100%;
	top: 50%;
	border-right-color: #fff;
	border-width: 0.5em;
	margin-top: -0.5em;
}

.tooltip.below::after {
	bottom: 100%;
	left: 50%;
	border-bottom-color: #fff;
	border-width: 0.5em;
	margin-left: -0.5em;
}

.tooltip.above::after {
    left: 50%;
    border-bottom-color: #fff;
    border-width: 0.5em;
    margin-left: -0.5em;
    margin-top: -2em;
    top:0;
}

.tooltip.warning {
	padding-left: 4em;
	background-image: url('../images/validation/warning.png');
	background-repeat: no-repeat;
	background-position: 1em center;
	background-size: 2em;
}

.tooltip .button {
	display:inline-block;
	margin: 0 0.5em;
	min-width: 7em;
}

/** Forms **/
.form-label {
	font-size:14px;
	display:inline-block;
    vertical-align: middle;
    text-transform:uppercase;
}

/* Bank transfer page - does not use core_checkout.css */
.checkout-banktransfer #page-title {
    font-size: 38px;
    margin-top: 68px;
}

.checkout-banktransfer p.phone-number {
    margin-top: -125px;
}

.loading-spinner {
    min-height: 32px;
    min-width: 32px;
    display: block;
    background-image: url('../images/superdry/process.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.loading-spinner-sm {
    min-height: 16px;
    min-width: 16px;
    display: block;
    background-image: url('../images/superdry/process.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.spinner-holder {
    display: inline-block;
    margin-bottom: -10px;
}

#country-select {
    margin-top: 9px;
    position: relative;
    display: block;
}

#country-select ul {
    margin-top: 9px;
    padding-top: 3px;
    width: 240px;
    height: 30px;
    z-index: 9999999 !important;
}

#country-select ul li {
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #868686;
    cursor: pointer;
    background-color: #fff;
    height: 20px;
}

#country-select ul li.hover {
    background-color: #f99317;
}

#country-select ul li:first-child {
    padding-top: 6px;
}

#country-select ul li:last-child {
    padding-bottom: 6px;
}

#country-select img {
    margin-top: 2px;
    margin-left: 3px;
    float: left;
}

#country-select .ddlabel {
    float: left;
    line-height: 1.3em;
    margin-top: 3px;
    padding-left: 4px;
    font-size: 13px;
}

#country-select ul li.selected-country {
    padding-top: 6px;
    height: 28px;
    background: url(../images/core/down_arrow.png) no-repeat scroll 220px center #fff;    
}

.website-footer {
    position: relative;
    z-index: 10;
}
