/* @charset "UTF-8"; */

/* #content_wrapper_header .wrapper { */
/* 	margin-bottom: -100px; */
/* } */

.confirmation {
	margin:4em 0 2em;
    text-transform: none;
}


.confirmation-details {
    margin:3em 0;
}

#register_form .form-label {
	width:180px;
}

#register_form .input_box,
#checkout-newsletter .input_box {
	border: 1px solid #e6e6e6;
	color: #171717;
    font-size: 14px;
    height: 40px;
    margin: 0;
    padding: 0 5px;
/*     text-transform: none; */
	width: 280px;
}

#register_form {
  margin: 2em 0;
}

#register_form .button {
  margin-left: 184px;
  width: 292px;
}

.confirmation .view_order {
  margin-top: 20px;
  margin-bottom: 0px;
}

/* .confirmation .view_order a { */
/* 	 padding: 0.4em 2em; */
/* } */

.checkout-thankyou .page-title {
  font-size: 48px;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  margin: 20px 0 20px;
}

.checkout-thankyou .confirmation p {
/* 	text-transform: none; */
	font-size: 14px;
/* 	letter-spacing: 0.2px; */
}

/* .checkout-thankyou .confirmation p.padded { */
/* 	margin-top: 40px; */
/* 	margin-bottom: -20px; */
/* } */

.star_orange_field, .star_orange {
  color: #fe5e00;
  margin-left: 5px;
}

/* .form-label { */
/*   font-size: 14px; */
/*   display: inline-block; */
/*   vertical-align: middle; */
/*   text-transform: uppercase; */
/* } */

ul.form li {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}

.newsletter-image {
/*   float: right; */
  background-image: url('../images/newsletter-subscribe.png');
  background-repeat:no-repeat;
  width: 490px;
  height: 442px;
/*   position: relative; */
  position: absolute;
/*   top: -135px; */
	right:0;
	bottom:0;
}

/* #checkout_register { */
/*   margin-top: 40px; */
/* } */

#checkout-newsletter {
  background-color: #f5f5f5;
  padding: 6px 20px;
  margin-top: 60px;
  height: 234px;
}
	
#checkout-newsletter-form {
  width: 570px;
}

#checkout-newsletter-form .button {
	padding: 10px;
	width: 140px;
}

#checkout_newsletter_men_submit {
	margin-left: 154px;
}

#checkout_newsletter_women_submit {
	margin-left: 10px;
}

#checkout-newsletter-form label {
	width: 150px;
	display: inline-block;
}

.confirmation.noreg .confirmation-details {
    max-width: 70%;
}

.confirmation.noreg #checkout-newsletter {
    margin-top: 100px;
}