@charset "UTF-8";
/** ---- LANGUAGE SPECIFIC OVERRIDES ---- **/
.page-information .js_dropdown {min-width:170px}
.checkout-banktransfer h2#page-title { font-size: 25px !important; }

/** ---- MINICART ---- **/
#minibag_delivery, #minibag_delivery_saved {height: 40px; padding-top: 10px;font-size:15px}
#minibag_delivery {font-size: 13px;}
#minibag .shopping_bag a {font-size: 13px;}

/** ---- CHECKOUT ---- **/
/* #checkout_form .newsletter label {padding-top: 25px;} */
#hsbc_creditcard label {width: 215px !important;}
#checkout_form label.save_card { margin-left: 215px; }

.whatsthiscsc {background-image: url("../../../images/languages/fr-FR/checkout/csc.jpg");}
.whatsthisamex {background-image: url("../../../images/languages/fr-FR/checkout/amex.jpg");}

#product-detail-tabs .tabs span {font-size:14px}
div.gender_footer a {font-size:12px}
#newsletter-form label span.text {font-size:12px}

/** ---- STORE LOCATOR ---- **/
#nearest-stores {height: 378px;}

/** ---- MENU ---- **/
.menu-dropdown ul {
	margin-right: 2em; 	margin-right: 2vw;
}
@media (min-width: 1200px) {
	/* Squash up menu items on big screens. */
	.menu-dropdown ul {
		min-width:unset;
		margin-right:4em;  margin-right:4vw;
	}
}
/*#holdernewin {left: 235px;}*/
/*#holdernewin div.sgfloatmenu {left:-30px; width:219px; }*/
/*#holdermens .orange_up {margin-left: 28px; width: 64px;}*/
/*#holderwomens .orange_up {margin-left: 152px; width: 62px;}*/
/*#holdernewin .orange_up {margin-left: 28px; width: 130px;}*/
/*div.main-menu ul.menu li ul li, #holderwomens div.s_menu ul li {min-width: 140px;}*/

div.wrapper div.signin_register {padding-right: 14px;}
div.storelocate_pos, div#saved-bag {padding-left: 14px; padding-right: 14px;}
div#shopping-bag {padding-left: 14px;}

/** ---- CATEGORY SORT ---- **/
#js_dropdown_category-sorting ul {width: 248px;}
div.grid {margin-right: 10px;}
div.content > .wrapper.browse h1 {font-size: 40px;} 

/** ---- FOOTER ---- **/
.choose_country {display:inline-block}
div.footer {margin: -90px auto 16px;}

/** ---- GENDER PAGE ---- **/
div.s_menu ul li.sp_menu_1 {font-size: 12px;}

/** ---- SEARCH BOX PLACEHOLDER ---- **/
#searchword {width:190px}

div.competition-main form li.gender span.label {margin-right: 40px;}

.pr-snippet .pr-snippet-read-write div a.pr-snippet-link {text-decoration: underline;}
.pr-snippet .pr-snippet-read-write div a.pr-snippet-link:hover {color: #ff5e00;}
.theme_idris .pr-snippet .pr-snippet-read-write div a.pr-snippet-link:hover {color: #2d318c;}

/** ---- delivery-addresses ---- **/
a.grey-button.account.right {width: 210px;margin-left: 465px;}
div.address-list a.dark-grey-button.my-account {margin-left: 265px;width: 460px;}