/*#AutoResults, #AutoComplete,#AutoSearches,#AutoProducts {display:none;}*/

#AutoResults {
    /*background: rgba(255, 255, 255, 0.98);*/
    color: #171717;
    /*height: auto;*/
    padding-top: 30px; padding-bottom: 30px;
    padding-top: 2vw; padding-bottom: 2vw;
    /*position: absolute;*/
    right: 0;
    /*top: 0px;*/
    z-index: 3;
    /*border: 1px solid white;*/
    /*box-shadow:3px 3px 3px rgba(0, 0, 0, 0.2);*/
}


.gender_title {
    /*font-size:14px;*/
    /*font-weight:bold;*/
    letter-spacing: 0.4px;
    padding-bottom: 20px;
}
.lsproduct {
    border-top: 1px solid #ebebec;
    float: left;
    margin-bottom: 15px;
    padding: 10px 0 0;
    width: 250px;}

div.lsresults{float:left;max-width: 580px;}
div.lscontainer{float:left;}



div.lsImg {float:left;padding-right: 5px;}
div.lsName {float:left; width:160px}

div.lsLink a, div.lsName a:hover,div.lsName a{text-decoration:none;color:#171717; font-size:14px;text-transform: capitalize;}
div.lsLink a:hover, div.lsName a:hover {color:#F7941D;}
div.lsColour {font-size:12px; color:#171717;text-transform: lowercase;}
div.lsLink {float:left;width: 200px;font-size:12px;font-weight:bold; text-overflow: ellipsis; overflow: hidden;}
div.gender_footer {
    float: left;
    padding: 15px 0 0;
    width: 290px;
    text-align: left;
}
div.gender_footer a {
    /*background-color: #ff5e00;*/
    display: inline-block;
    /*font-size: 14px;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
}
div.lscategory,div.lsproduct_unisex,div.lsproduct_mens,div.lsproduct_womens{display: block; float: left; width: 250px;margin-right:40px;}
div.lsproduct_mens,div.lsproduct_womens{border-bottom: 1px solid #ebebec;}
div.lscategory{width: 180px;}
/*div.lsproduct_Unisex,div.lsproduct_unisex,div.lsproduct_mens,div.lsproduct_womens{height:340px}*/

div.lsRating {
    background-image: url("../../public/images/core/star-ratings.png");
    display: inline-block;
    /*float: left;*/
    height: 15px;
    width: 87px;
}

div.lsRating.stars_0 { background-position:0 0; }
div.lsRating.stars_0_5 { background-position:0 -18px; }
div.lsRating.stars_1 { background-position:0 -33px; }
div.lsRating.stars_1_5 { background-position:0 -50px; }
div.lsRating.stars_2 { background-position:0 -65px; }
div.lsRating.stars_2_5 { background-position:0 -81px; }
div.lsRating.stars_3 { background-position:0 -97px; }
div.lsRating.stars_3_5 { background-position:0 -113px; }
div.lsRating.stars_4 { background-position:0 -130px; }
div.lsRating.stars_4_5 { background-position:0 -146px; }
div.lsRating.stars_5 { background-position: 0 -161px; }

div.gender_c_title {padding-bottom:11px;float:left; font-size:14px; }
div.lscategory_div {display: block;float: left;padding-bottom: 20px;}
div.gender_spacer {display: block;float: left;width: 225px;padding: 5px;height:99px}

div.lsLink a span {/*background: url("../images/category_arrows.png") no-repeat scroll -114px 4px transparent;*/
    display: inline-block;height: 20px;line-height: 21px;margin-top: -4px;width: 10px;
}

ul.product-list li {
    display: inline-block;
}

