
<p>

<strong>Bonjour <%= @user.name %>,</strong>

Votre inscription a bien été prise en compte.

Vous pouvez désormais consulter et réserver un vol sur notre plateforme.

Si vous êtes pilote, nous vous invitons à complèter votre profil afin de pouvoir publier vos annonces.

Nous vous souhaitons beaucoup de plaisir sur l'un de nos ULM.

<br>
----------------------

Service clientèle MakeMeFly: 06.61.56.81.40
</p>

<p>Vous pouvez vous rendre sur <%= link_to "MAKEMEFLY", "http://www.makemefly.fr" %></p>
