<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>
      body {
        font-family: 'Raleway', sans-serif;
        width: 100% !important;
        min-width: 50%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }

        .body-email{
          padding: 50px;
          color: white;
          font-size: 25px;
          font-weight: lighter;
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: #2c3e50; /* fallback for old browsers */
          background: -webkit-linear-gradient(to left, #2c3e50 , #3498db); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to left, #2c3e50 , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .button-feature {
          margin-top: 30px;
          margin-left: 10px;
          padding: 5px 30px;
          border-radius: 3px;
          line-height: 40px;
          color: white;
          font-size: 14px;
          cursor: pointer;
          font-weight:lighter;
          border: 1px solid #E6E6E6;
          transition: background-color 0.5s ease;

        }
        .button-feature:hover {
          color: white;
          text-decoration: none;
          color:black;
          font-size: 16px;
          background-color: white;
        }
        .footer-email{

        }

    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="body-email">
          <strong>Bonjour <%= @user.name %></strong>
            <strong>Bienvenue sur MAKEMEFLY</strong>
            <p>Votre inscription a bien été prise en compte.
            <p>Vous pouvez désormais consulter et réserver un vol sur notre plateforme.</p>
            <p>Si vous êtes pilote, nous vous invitons à complèter votre profil afin de pouvoir publier vos annonces.</p>
            <p>Nous vous souhaitons beaucoup de plaisir sur l'un de nos ULM.</p>
            <a href="https://makemefly.herokuapp.com/" type="button" class="button-feature">Go to MakeMeFly</a>
            <p>Service clientèle MakeMeFly: 06.61.56.81.40</p>
          </div>
        <div class="footer-email">
        </div>
        </div>
      </div>
    </div>
  </body>
</html>

