.article{
  position: relative;
  padding: 8px;
  color: gray;
}

.titre-article{
  position: relative;
}

.panel-default .titre-article{
  color: $lapis-lazuli;
}

.menu-article{
  position: absolute;
  right:20px;
  top: 10px;
}

.button-article li a{
  font-size: 10px;
  line-height: 3px;
  padding: 9px 24px;
}
