.wrapper-profile-dashboard{
  font-size: 13px;
}

.welcome{
  padding: 10px;
}

.welcome ul{
      list-style:none;
    }

.welcome li{
  //padding: 5px;
}

.title-welcome{
  color: #3E92CC;
}

// .panel-explication .panel-default{
//   margin-left: 22px;
// }

// .panel-danger{
//   margin-left: 22px;
// }

// .panel-explication .id-user{
//   margin-left: 22px;
// }

.margin-panel{
  margin-left: 22px;
}

.article-scroll{
  overflow-y: scroll;
  height: 100vh;
}

.panel{
  font-size: 14px;
}

.new-ad-text h3 {
  font-weight: bold;
  color: $lapis-lazuli;
  font-size: 15px;
}


