
.card-show {
  font-size:12px;
  background-color: white;
  height: 100%;
/*  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
*/  background-size: cover !important;
  color: #86969C;
  //padding: 40px;
  position: relative;
  //box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: #D7DBDD 1px solid;

}

.padded{
  padding: 40px;
}

.header-show{
  //position: absolute;
    margin-top: 0px;
    margin-bottom: -70px;
    background-attachment: fixed;
    height: 301px;
    width: 100%;
}


.card-picture {
  /*position: absolute;*/
  text-align: center;
  top: 20px;
}

.card-picture p {
color: blue;
}

.card-show-description {
  /*position: absolute;*/
  display: flex;
  align-items: center;
  top: 150px;
  padding-top: 30px;

}

.price-show{
  /*position: absolute;*/
/*  bottom: 50px;
*/color: grey;
  text-align: center;
  font-size: 70px;
  /*box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: grey 1px solid;
  border-radius: 50%;*/
  padding: 25px;
}

.date-show{
  /*position: absolute;*/
  padding-top: 30px;
  display: flex;
  align-items: center;
  bottom: 200px;

}

.button-show {
  width: 100%;
  text-align: center;
  /*position: absolute;*/
  bottom: 0;
}





.featureListItem {
  /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
  display: flex;

  /**
   * Align the children in the center, along
   * the main axis, which is horizontal in this case.
   */
  align-items: center;
  max-width: 400px;
  padding: 10px;
}

.featureListItem + .featureListItem {
  border-top: 1px solid #D7DBDD;



}

.featureListItem--reverse {
  /**
   * We can specify the flex-direction so that
   * the children elements are displayed in the
   * reverse order of how they appear in the
   * markup.
   */
  flex-direction: row-reverse;
}

  .featureListItem__icon,
  .featureListItem__description {
    padding: 5px 15px;
  }

  .featureListItem__icon {
    font-size: 50px;
    line-height: 0;
  }

  .featureListItem__description {
    color: #86969C;
    font-size: 12px;
  }













