.empty-ad{
   color: #86969C;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding: 25px;
   border-radius: 5px;
   border: #86969C 1px solid;
   margin-bottom: 100px;
   width: 100%;
}

.fa-smile-o{
  font-size: 80px;
}
