<div class="top-spacing">
</div>






<div class="wrapper">
  <div class="container" style="height: 100vh; margin-top: 100px;">
    <div class="row">

        <div class="col-sm-9 col-md-10">
            <!-- Split button -->
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3 col-md-2">
          <%= link_to 'Nouveau message', new_message_path, class: 'btn btn-danger btn-sm btn-block' %>
            <hr />
            <ul class="nav nav-pills nav-stacked">
               <%=  render 'conversations/conversation_panel' %>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-inbox">
                </span>Message</a></li>
               <!--  <li><a href="#profile" data-toggle="tab"><span class="glyphicon glyphicon-user"></span>
                    Social</a></li>
                <li><a href="#messages" data-toggle="tab"><span class="glyphicon glyphicon-tags"></span>
                    Promotions</a></li>
                <li><a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-plus no-margin">
                </span></a></li> -->
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <%= render partial: 'conversations/conversation', collection: @conversations %>
                <div class="tab-pane fade in" id="profile">
                    <div class="list-group">
                        <div class="list-group-item">
                            <span class="text-center">This tab is empty.</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="messages">
                    ...</div>
                <div class="tab-pane fade in" id="settings">
                    This tab is empty.</div>
            </div>
            <!-- Ad -->
        </div>
    </div>
</div>

</div>
