<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Vous avez un nouveau message: <%= @subject %></h1>
    <p>
       Vous avez recus un nouveau messageeeeeeeeeeeeee:
    </p>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Allez sur <%= link_to root_url, root_url %> et dans votre messagerie pour plus d'infos.
    </p>
  </body>
</html>
