<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

<div class="panel panel-danger margin-panel">
<h1>You have a new reply: <%= @subject %></h1>
  <div class="panel-heading">
    <p>
      You have received a new reply:
    </p>
  </div>
  <div class="panel-body">
    <%= raw @message.body %>
  </div>
</div>
    <blockquote>
      <p>

      </p>
    </blockquote>
    <p>
      Visit <%= link_to root_url, root_url %> and go to your inbox for more info.
    </p>
  </body>
</html>





