

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="adresse">
            <h2>MakeMeFly</h2>
            <p>Chemin des Pérussiers</p>
            <p>13590 Aix en Provence</p>
            <p>Tel : 06.61.56.81.40</p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <ul id="otis">
            <li><a href=""><i class="fa fa-youtube"></i>youtube</a></li>
            <li><a href=""><i class="fa fa-instagram"></i>instagram</a></li>
            <li><a href=""><i class="fa fa-facebook"></i>facebook</a></li>
            <li><a href=""><i class="fa fa-twitter"></i>twitter</a></li>
          </ul>
        </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <p>This is a MakeMeFly, Inc. Home website</p>
      </div>
    </div>
  </div>
</div>
