<div class="wrapper padded" id="footer2">
  <div class="container" style="padding-top: 60px;">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
       <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <span><i class="fab fa-earlybirds"></i></span>
           <span>Make</span><span style="color: #3E92CC;">Me</span><span style="color: #3E92CC;">Fly</span>
           <% end %>
           <p><%= link_to "Politique de confidentialité", pages_politique_path %></p>
            <p>MakeMeFly © 2018</p>
        </div>
      <div class="col-xs-12 col-sm-12 col-md-4">

      <div class="contact-infos" style="color: white; font-weight: normal;">
        <p class="titre-footer">
        <p><i class="fa fa-map-marker"></i> Chemin des Pérussiers - Meyreuil - France</p>
        <p><i class="fa fa-phone-square"></i> Tél : +33(0)6 61 56 81 40</p>
        <p><i class="fa fa-envelope"></i> Email : www.contact@skypicture.fr</p>
        </p>
      </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
      <p class="titre-footer" style="color: white; font-weight: bold; font-size: 14px;">A propos de nous</p>
      <p style="font-size: 13px;">Pousser la porte de sa folie et entrer dans sa lumière. A l’issu d’une formation à l’école Duperré et l’école Boulle , il décide de vivre de sa passion et aura la chance d’être l’élève du grand Maître Gérard Di Maccio qui le forme aux techniques des peintures de la renaissance .
      </p>
      <hr>
      <p class="titre-footer" style="color: white; font-weight: bold; font-size: 14px;">Réseaux sociaux</p>
      <%= link_to "https://www.facebook.com/emmanuel.pertuisot.9" do %>
      <i class="fab fa-facebook" style="font-size: 30px;"></i>
      <% end %>
      </div>
    </div>

  </div>
</div>
