<!-- <div class="title_flight text-center" style="background: #79C7C5; font-weight: lighter;">
   <p>MakeMeFly te suit partout !</p>
</div> -->
<div id="footer">
  <div class="container text-center">
    <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-3">
         <a href=""><i class="fa fa-youtube"></i></a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
         <a href=""><i class="fa fa-instagram"></i></a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
         <a href=""><i class="fa fa-facebook"></i></a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
         <a href="https://twitter.com/hashtag/makemefly"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
    <!-- <div class="marged">
        <p>This is a MakeMeFly, Inc. Home website Tel : 06 01 56 81 40</p>
      </div> -->
  </div>
</div>

