
<div class="wrapper">
  <% if current_page?(root_path) %>
  <div class="container" style="width: 100%;">
    <div class="titre_form">Je trouve un vol rapidement.</div>
    <% else %>
  <div class="container" style="background: #3E92CC; padding: 15px; margin-top: 20px; width: 100%;">
   <% end %>
<form action="<%= search_ads_path %>" class="formulaire form-inline" id="form-navbar" style="padding: 20px; <%unless current_page?(root_path)%> text-align: left;<%end%>">
  <div class="form-group">
    <div class="input-group">
      <input name="q" type="text" class="form-control" placeholder="Ex: Marseille" style="height: 48px; font-size: 20px; width: 400px; border-radius: 20px;">
    </div>
  </div>
<!--   <div class="input-group date" data-provide="datepicker">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
    <input type="text" name="date" class="form-control" placeholder="Date du vol" style="height: 48px; font-size: 20px;">

</div> -->
<%unless current_page?(root_path)%>
 <!--   <div class="form-group input-group-lg">
              <select name="multiple[]" class="form-control selectpicker" style="width: 250px; height: 48px;">
              <option>Aéronef</option>
               <optgroup label="ULM">
                <option>Pendulaire</option>
                <option>Multiaxe</option>
                <option>Paramoteur</option>
                <option>Autogire</option>
              </optgroup>
              <optgroup label="Vol libre">
                <option>Parapente</option>
                <option>Planeur</option>
              </optgroup>
              </select>
            </div> -->
<%end%>
  <button class="btn btn-primary btn-lg btn-gradient" style="border-radius: 20px;" type="submit">RECHERCHER</button>
</form>
   </div>
 </div>


<!-- <script>
$('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    startDate: '-3d'
}
</script> -->

