 <div class="wrapper" style="background-color: #3E92CC; padding: 20px; margin-top: 20px">
   <div class="container">
     <div class="form-header">
       <form action="<%= search_ads_path %>" class="formulaire form-inline text-center" id="form-navbar">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="input-group" style="margin-top: 0px;">
            <input name="q" type="text" class="form-control" placeholder="Ex: Marseille" style="width: 330px; height: 48px; font-size: 20px;">
            <span class="input-group-btn">
               <div class="form-group input-group-lg">
              <select name="multiple[]" class="form-control selectpicker" style="height: 48px;">
              <option>Aéronef</option>
               <optgroup label="ULM">
                <option>Pendulaire</option>
                <option>Multiaxe</option>
                <option>Paramoteur</option>
                <option>Autogire</option>
              </optgroup>
              <optgroup label="Vol libre">
                <option>Parapente</option>
                <option>Planeur</option>
              </optgroup>
              </select>
            </div>
              <button class="btn btn-primary btn-lg btn-gradient" type="submit">Rechercher</button>
            </span>
          </div>
        </div>
      </form>
      </div>
   </div>
 </div>





