<div class="subnavbar navbar">
  <div class="navbar-wagon-right hidden-xs">
    <%= link_to "Fil d'actualité", articles_path, :class => "navbar-wagon-item" %>
    <% if current_user.pilote? %>
    <% end %>
      </div>
</div>


