<h2>Bonjour,</h2>
<p>Le passager <%= @order.ad_sku %> a payé son vol avec toi pour un montant de <strong><%= @order.amount %>euros</strong> :)</p>
<p>Tu peux le contacter sur <strong><%= @order.ad_sku %></strong></p>
<p>Alors commence à faire chauffer le moteur !</p>
<p>MAKEMEFLY</p>
