
    <!-- BANNER HOME -->

<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.survoldefrance.fr/photos/highdef/45/45313.jpg');">
  <div class="banner-content">
    <h1>EN ROUTE POUR L'AVENTURE !</h1>
    <p>Organisez votre prochain weekend d'exception en ULM !</p>
    <a class="navbar-wagon-item navbar-wagon-button btn"> Je Découvre</a>
  </div>
</div>

    <!-- SEARCH BAR -->

    <form action="<%= search_ads_path %>" class="form-inline text-center">
      <input type="text" class="form-control text-center" placeholder="Où voulez-vous voler ?" name="q">
      <input type="submit" value = "Validez" class="btn btn-danger">
    </form>

<h2 class ="text-center">Pimentez votre prochain weekend !</h2>
<p class ="text-center">Découvrez de nouveaux vols incroyables près de chez vous !</p>

<br>

 <!-- CARDS -->



 <!-- CARDS -->

<div class="container">
  <div class="row">
  <% @ads.each do |ad| %>
  <%= render ad %>
  <% end %>
  </div>
</div>
</div>

<div class="container text-center">
<div class="btn-group padded-basket">
  <div class="row">
    <%= link_to "Voir tous les vols disponibles", ads_path, :class => "btn btn-danger" %>
<div class="btn-group padded-basket">
    <%= link_to "Voir tous les pilotes disponibles", users_path, :class => "btn btn-danger" %>
    </div>
  </div>
</div>
</div>

<h3 class ="text-center">Nos meilleures offres dans votre inbox</h3>

<div class = "text-center padded-newsletter" class="newsletter-input" data-reactid=".0.1.1"><input placeholder="Votre adresse email" class="newsletter-input-email" type="email" name="email" data-reactid=".0.1.1.0"><button type="submit" class="navbar-wagon-item navbar-wagon-button btn" data-reactid=".0.1.1.1">M'inscrire</button>
</div>
