<div class="wrapper" style="padding: 60px;">
  <h1 class="text-center">Politique de confidentialité</h1>
  <p>1. Généralités</p>
<p>MakeMeFly attache une grande importance à la protection et au respect de votre vie privée. La présente politique vise à vous informer de nos pratiques concernant la collecte, l’utilisation et le partage des informations que vous êtes amenés à nous fournir par le biais de notre plateforme (la « Plateforme ») accessible depuis le site internet www.makemefly.fr.</p>

<p>Cette politique (ainsi que nos Conditions générales d’utilisation) présente la manière dont nous traitons les données personnelles que nous recueillons et que vous nous fournissez. Nous vous invitons à lire attentivement le présent document pour connaître et comprendre nos pratiques quant aux traitements de vos données personnelles que nous mettons en œuvre.</p>

<p>2. Les informations que nous recueillons
Nous sommes susceptibles de recueillir et de traiter les données suivantes :</p>

<p>2.1. Les informations que vous nous transmettez directement
En utilisant notre site internet, vous êtes amenés à nous transmettre des informations, dont certaines sont de nature à vous identifier (« Données Personnelles »). C’est notamment le cas lorsque vous remplissez des formulaires (comme par exemple le formulaire d’inscription), lorsque vous nous contactez – que ce soit par téléphone, email ou tout autre moyen de communication – ou lorsque vous nous faites part d’un problème.<p>

<p>Ces informations contiennent notamment les données suivantes :</p>

<p>2.1.1. Les données nécessaires à l’inscription au service que nous fournissons sur notre site internet. Ces données sont notamment vos nom et prénom, adresse e-mail, date de naissance, sexe, numéro de téléphone et mot de passe. Ces informations sont obligatoires. A défaut, MakeMeFly ne sera pas en mesure de vous fournir les services proposés par notre site internet et vous ne serez pas autorisés à créer de compte sur notre Plateforme ;</p>

<ul>
  <li>2.1.2. Une photographie ;</li>
  <li>2.1.3. Une adresse postale ;</li>
  <li>2.1.4. Des informations relatives à votre aéronef ;</li>
  <li>2.1.5. Votre mini-biographie ;</li>
  <li>2.1.6. Une copie de tous les échanges intervenus entre vous et MakeMeFly ;</li>
  <li>2.1.7. Une copie de l’ensemble des réservations ou des publications effectuées sur notre site internet ;</li>
  <li>2.1.8. Le détail de vos visites sur notre site internet et des contenus auxquels vous avez accédé ;</li>
  <li>2.1.9. Les données que nous pouvons vous demander de fournir lorsque vous nous signalez un problème relatif à nos Plateformes ou à nos services, comme par exemple l’objet de votre demande d’assistance ;</li>
  <li>2.1.10. Les données liées à votre localisation lorsque vous avez accepté que nous collections et traitions ces données ;</li>
  <li>2.1.11. Une copie de votre brevet de pilote, licence en cours de validité, assurance responsabilité civil ou tout autre document similaire que vous avez accepté de nous fournir.</li>
</ul>



<p>2.2. Les données que nous recueillons automatiquement</p>
<p>2.2.1. Dans le cas où vous vous connectez à nos services en utilisant les fonctionnalités de réseaux sociaux mises à votre disposition, MakeMeFly aura accès à certaines des données (notamment, vos prénom, nom de famille, photographie, adresse e-mail et nombre d’amis Facebook) de votre compte sur ledit réseau social conformément aux conditions générales d’utilisation du réseau social concerné  Nous sommes également susceptibles de recueillir certaines de vos Données Personnelles lorsque vous interagissez avec des fonctionnalités de ces réseaux sociaux, tel que les fonctionnalités « J’aime ».</p>

<p>2.2.2. Lors de chacune de vos visites, nous sommes susceptibles de recueillir, conformément à la législation applicable et avec votre accord, le cas échéant, des informations relatives aux appareils sur lesquels vous utilisez nos services ou aux réseaux depuis lesquels vous accédez à nos services, tels que notamment vos adresses IP, données de connexion, types et versions de navigateurs internet utilisés, types et versions des plugins de votre navigateur, systèmes et plateformes d’exploitation, données concernant votre parcours de navigation sur nos Plateformes, notamment votre parcours sur les différentes pages URL de nos Plateformes, le contenu auquel vous accédez ou que vous consultez, les termes de recherches utilisés, les erreurs de téléchargement, la durée de consultation de certaines pages, l’identifiant publicitaire de votre appareil, les interactions avec la page ainsi que tout numéro du téléphone utilisé pour nous contacter. Parmi les technologies utilisées pour recueillir ces informations, nous avons notamment recours aux cookies (pour en savoir plus à ce sujet, veuillez vous référer à notre Charte sur les Cookies).</p>

<p>2.2.3. Nous recueillons également des informations sur votre utilisation de notre Plateforme (telles que le nombre d’annonces publiées, votre taux de réponse aux messages, votre date d’inscription, votre moyenne d’avis reçus, etc.) qui sont susceptibles d’être affichées sur votre profil public.</p>
</div>
