<div class="banner-ulm banner-parallax2 img-responsive banner-content-parallax">
  <div class="banner-content">
    <h1>MAKE ME FLY</h1>
    <span><strong>MakeMeFly</strong> vous permet de reserver des vols sur différents type d'ULM</span>
  </div>
</div>




<div class="feature3 text-center marged">
     <div class="counter">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "para-icon.png", class:"avatar-xxl"%>
            <p>PARAMOTEUR</p>
          </div>
           <div class="col-xs-12 col-sm-6 col-md-3">
           <%= image_tag "multiaxe-icon.png", class:"avatar-xxl"%>
            <p>MULTIAXE</p>
          </div>
           <div class="col-xs-12 col-sm-6 col-md-3">
           <%= image_tag "pendulaire-icon.png", class:"avatar-xxl"%>
            <p>PENDULAIRE</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
           <%= image_tag "gyro-icon.png", class:"avatar-xxl"%>
            <p>AUTOGIRE</p>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="banner-parallax banner-parallax3 img-responsive banner-content-parallax">
  <div class="banner-content">
    <h1>Paramoteur</h1>
    <span>Le paramoteur est un aéronef de la catégorie des aérodynes. Il est composé d'une voile de parapente, et d'un moteur léger intégré à une cage de protection portée sur le dos du pilote. Une hélice offre la poussée nécessaire.</span>
  </div>
</div>

<div class="banner-parallax banner-parallax4 img-responsive banner-content-parallax">
  <div class="banner-content">
    <h1>Pendulaire</h1>
    <span>Un pendulaire est un aéronef ultra-léger motorisé (ULM) ou un planeur ultra léger à motorisation auxiliaire (PULMA) qui se pilote par déplacement du centre de gravité.</span>
  </div>
</div>

<div class="banner-parallax banner-parallax5 img-responsive banner-content-parallax">
  <div class="banner-content">
    <h1>Multiaxe</h1>
    <span>Les ULM multiaxes ne sont autres que des avions 2 places, de par leur conception. Les ULM Multiaxes sont habituellement motorisés par un moteur Rotax de 80CH ou 100CH.</span>
  </div>
</div>

<div class="banner-parallax banner-parallax6 img-responsive banner-content-parallax">
  <div class="banner-content">
    <h1>Autogire</h1>
    <span>Un autogire est un aéronef qui ressemble à un hélicoptère. L'appareil est sustenté par la rotation d'un rotor principal dans le plan horizontal et propulsé par une hélice entraînée par un petit moteur dans le plan vertical, la direction est assurée par une gouverne et l'inclinaison du plan de sustentation du rotor dans le plan horizontal.</span>
  </div>
</div>
