<div class="email-validation-image" style="height: 100vh; background-size: cover; align-items: center; justify-content: center; display: flex; background-repeat: no-repeat;">
  <div class="jumbotron text-center" style="opacity: 0.8;">
  <h1>Vous avez reçus un mail </h1>
  <p>Cliquez sur le lien que vous venez de recevoir. Cela vous activera votre compte et cela vous redirigera vers MakeMeFly.</p>
</div>

</div>




