// Your footer style
#footer {
  background: $japanese-indigo;
  color: #CCCCCC;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer p {
  margin-top: 17px;
}
#footer ul {
  margin-top: 10px;
}
#footer a {
  color: $gray-darker;
  font-size: 15px;
  letter-spacing: 10px;
  line-height : 30px;
  transition: color 0.5s ease;
}
#footer a:hover{
  color: $yellow;
}


#otis li {
    list-style-type: none;
}

#footer .fa {
  padding: 30px;
}

#footer .pol-link{
  font-size: 15px;
  color: white;
}

//--------------------------------------

@media (max-width:450px) {

  #footer{
    height:300px;
  }
  #footer a {
    color: $gray-darker;
    font-size: 15px;
    line-height : 50px;
    transition: color 0.5s ease;
  }
}
