// Your footer style
#footer {
  background: $gray-darker;
  padding: 30px 0;
  color: #CCCCCC;
  height: 100px;
  display: flex;
  align-items: center;
}
#footer p {
  margin-top: 17px;
}
#footer ul {
  margin-top: 10px;
}
#footer a {
  color: $gray-light;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
#footer a:hover{
  color: $yellow;
}


// #p-footer{
//   padding: 10px;
//   color: white;
// }

// .share-links {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
// .share-link {
//   flex: 0 0 24%;
//   color: white;
//   font-size: 18px;
//   padding: 10px 0;
//   text-align: center;
//   border-radius: 2px;
//   cursor: pointer;
//   &:hover {
//     color: white;
//   }
// }
// .bg-text {
//   background: #4a4a4a;
// }
// .bg-email {
//   background: #aeaeae;
// }
// .bg-twitter {
//   background: #00a3e1;
// }
// .bg-facebook {
//   background: #3b5998;
// }
