/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings

body{
  //margin-top:71px;
}

.top-spacing{
  padding-top: 50px;
}

.marged{
  margin-top:120px;
  margin-bottom: 120px;

}

.thumbnail{
//  padding: 0px;
}

.modal-body{
  background-color: #E9EBEE;
}

.padded {
  padding-top: 2em;
  padding-bottom: 3em;
}

.padded-newsletter{
  padding-top: 2em;
  padding-bottom: 2em;
}

.padded-basket {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.padded-product {
  padding-top: 3px;
  padding-bottom: 3px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacing {
  //letter-spacing: 2px;
  line-height : 22px;
}

.list-unstyled {
  width: 100%;
}


.btn-warning{
  width: 100%;
}

.thumbnail img{
  width: 100%;
}

.picture_article{
  width: 100%;
}

.well{
  padding: 40px;
}

.btn-link{
  position: absolute;
  top: 2px;
  right: 2px;
}

.form-control{
  // border-radius: 16px;
  // height: 48px;
   //font-size: 20px;
}


.modal-header{
  background-color: #18435A;
}

.modal-title{
  color: white;
}

.btn-gradient{
   background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
}

.btn-send-request{
  padding-right: 40px;
  padding-left: 40px;
}

.gradient-user{
  background-color: rgba(0,101,168,0.6);
}

.form-horizontal .input-group .form-group{
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.button-booking{
  display: inline-block;
}

.panel-heading{
  font-size: 20px;
}

.img-size img{
  height: 238px;
}

.center{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bouton-demande{
  padding: 15px 69px;
}

#contact_date_vol{
   padding: 25px;
}

#contact_nb_pax{
  padding: 25px;
}

.bouton-formulaire button{
  background: transparent;
  border: 3px;
}



















.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}
