<% @user = User.find(post.user_id) %>
 <div class="media">
  <div class="media-left">
   <%= render 'shared/small_user_profile_photo' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to user_path(@user) do %>
        <%= @user.name %>
      <% end %>
    </h4>
    <%= post.text %>
  </div>
</div>
