.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 50px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-xxl {
  width: 150px;
  border-radius: 50%;
  //box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  transition: 0.30s ease;
}

.avatar-xxl:hover{
  border: black 3px solid;
}
