.banner {
  position: relative;
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  //background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url('multiaxe.jpg');
  background-image: image-url('multiaxe.jpg');
  overflow: hidden;
}

.banner h1 {
  font-size: 58px;
  padding: 0px 350px;
  font-weight: bold;
  //text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 15px;
  color: white;
  //font-weight: lighter;
  //color: rgba(255, 255, 255, 0.7);
  //margin-bottom: 20px;
}


.prenom p{
  position: absolute;
  right: 50px;
  top: 80px;
}

.banner-parallax{
    background-attachment: fixed;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 190px;
    margin-top: 0px;
    max-width: 100%;

}

.call-to-action{
margin-top: 10px;
}

.banner-parallax h1{
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner-parallax p{
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.banner-ulm {
  color: white;
  text-align: center;
  height: 60vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url('image-banner.jpg');
  overflow: hidden;
}

.banner-ulm h1{
  font-size: 75px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner-ulm span{
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: lighter;
}

.banner-parallax1 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url("image-parallax.jpg");
}

.banner-parallax2 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("pendulaire.jpg");
}

.banner-parallax3 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("paramoteur-ulm.jpg");
}

.banner-parallax4 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("pendulaire-ulm.jpg");
}

.banner-parallax5 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("multiaxe-ulm.jpg");
}

.banner-parallax6 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("autogire-ulm.jpg");
}

.banner-search {
  margin-top: 50px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("bandeauPendulaire.jpg");
}

.banner-session {
  margin-top: 50px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("pendulaire.jpg");
}

.email-validation-image {
  background: cover;
  height: 100vh;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("email-validation.jpg");
}


.banner-chat {
  //position: relative;
  margin-top: 50px;
  height: 100vh;
  color: white;
  //text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  overflow: hidden;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("pendulaire.jpg");
}

.banner-chat p{

  padding: 30px;
  //background-color: black;
  //opacity: 0.6;
}

.link-chat a{
  margin-top: 70px;
}

.banner-registration-pilote {
  margin-top: 50px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("pilote-de-chasse.jpg");
}

.banner-registration-passenger {
  margin-top: 50px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("bandeauMultiaxe2.jpg");
}

.banner-new-ad {
  margin-top: 50px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("paramoteur.jpg");
}

.banner-user-profile{
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("paramoteur.jpg");
}


.index-ad {
  margin-top: 50px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("multiaxe.jpg");
}

.banner-content-parallax{
  text-align: center;
  color: white;
  font-size: 30px;
  position: relative;
  z-index: 8;
}


.arrow {
  //position: absolute;
  text-align: center;
  bottom: 10px;
  font-size: 30px;
}

.banner-user-disconnect{
  position: fixed;
  width: 100%;
  bottom: 0;
  //opacity: 0.6;
  background-color: rgba(0,101,168,0.6);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  z-index: 10;

}

.banner-user-disconnect p{
  color: white;
  line-height: 50px;
  font-size: 22px;
  font-weight: lighter;
}

.banner-user-disconnect .button{
  left: 20px;
}

.pilote-wrapper{
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 55px;
  background-color: #3E92CC;
  height: 500px;
}

//--------------------------------------------------------
//
//

@media (max-width:450px) {

  .banner{
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url('banner-xs.jpg');
  }

  #form-navbar{
    display: none;
  }

  .banner h1{
    font-size: 20px;
    font-weight: lighter;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    padding: 0px 20px;
  }

  .banner h2{
    font-size: 15px;
  }
  .banner p {
    font-size: 21px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }

  .compteur {
    display: none;
  }

  .pilote-wrapper{
    height: 700px;
  }

  .pilote-wrapper p{
    font-size: 22px;
  }

  .pilote-wrapper h4{
    display: none;
  }
  .pilote-wrapper .img-circle{
    // width: 127px;
    // padding: 11px;
    width: 70px;
    height: 70px;
    margin: 22px;
  }

  .input-lg {
    font-size: 10px;
    height: 30px;
    border-radius: 2px;
    padding: 10px 10px;
  }

  .banner-parallax{
    padding: 20px;
  }

  form .btn {
    margin-top: 25px;
    font-size: 10px;
    padding: 5px 16px;
  }

  .banner-content-parallax span{
    display: none;
  }

  .banner-chat{
    display: none;
  }

  .banner-content-parallax{
    text-align: center;
    color: white;
    font-size: 17px;
    position: relative;
    z-index: 8;
  }

  .banner-content-parallax .btn-primary{

  }

  .banner-parallax{
    background-attachment: fixed;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 200px;
    margin-top: 0px;
    max-width: 100%;
  }
  .banner-parallax1{
    background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("paramoteur-ulm.jpg");
  }
  .feature3 span {
    display: none;
  }

.feature3 p{
  color: white;
}

  .counter img {
    width: 70px;
  }
  .feature3{
    width: 100%;
    font-size: 20px;
  }

  .wrapper-grey h4{
    font-size: 12px;
    font-weight: lighter;
    color: gray;
  }
  .prenom p{
    display: none;
    //top:90px;
  }
}





