

.banner {
  position: relative;
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url('image-banner.jpg');
  overflow: hidden;
}

.banner h1 {
  font-size: 75px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}


.prenom p{
  position: absolute;
  right: 50px;
  top: 80px;
}

.banner-parallax{
    background-attachment: fixed;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 190px;
    margin-top: 0px;
    max-width: 100%;

}

.banner-parallax h1{
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner-parallax span{
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: lighter;
}

.banner-ulm {
  color: white;
  text-align: center;
  height: 60vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url('image-banner.jpg');
  overflow: hidden;
}

.banner-ulm h1{
  font-size: 75px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner-ulm span{
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: lighter;
}

.banner-parallax1 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url("image-parallax.jpg");
}

.banner-parallax2 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("pendulaire.jpg");
}

.banner-parallax3 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("paramoteur-ulm.jpg");
}

.banner-parallax4 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("pendulaire-ulm.jpg");
}

.banner-parallax5 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("multiaxe-ulm.jpg");
}

.banner-parallax6 {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("autogire-ulm.jpg");
}

.banner-search {
  margin-top: 60px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("bandeauPendulaire.jpg");
}

.banner-session {
  margin-top: 60px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("bandeauMultiaxe.jpg");
}
.banner-registration {
  margin-top: 60px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("bandeauMultiaxe2.jpg");
}

.banner-new-ad {
  margin-top: 60px;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("paramoteur.jpg");
}

.banner-content-parallax{
  text-align: center;
  color: white;
  font-size: 30px;
  position: relative;
  z-index: 8;
}


.arrow {
  position: absolute;
  text-align: center;
  bottom: 20px;
  font-size: 50px;
}



//--------------------------------------------------------
//
//

@media (max-width:450px) {

  .banner{
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url('banner-xs.jpg');
  }



  .banner h1{
    font-size: 30px;
    font-weight: lighter;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  .banner p {
    font-size: 15px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }

  .compteur {
    display: none;
  }

  .input-lg {
    font-size: 10px;
    height: 30px;
    border-radius: 2px;
    padding: 10px 10px;
  }

  form .btn {
    margin-top: 25px;
    font-size: 10px;
    padding: 5px 16px;
  }

  .banner-content-parallax span{
    display: none;
  }

  .banner-content-parallax{
    text-align: center;
    color: white;
    font-size: 17px;
    position: relative;
    z-index: 8;
  }
  .banner-parallax{
    background-attachment: fixed;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 200px;
    margin-top: 0px;
    max-width: 100%;
  }
  .banner-parallax1{
    background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 100%, rgba(0,36,61,0.6) 50%), image-url("paramoteur-ulm.jpg");
  }
  .feature3 span {
    display: none;
  }
  .counter img {
    width: 70px;
  }
  .button-feature{
    display: none;
  }
  .feature3{
    width: 100%;
  }
  .wrapper-grey h4{
    font-size: 12px;
    font-weight: lighter;
    color: gray;
  }
  .prenom p{
    display: none;
    //top:90px;
  }
}





