.card {
  height: 220px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  cursor: pointer;
  background-position: center;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

 .card:hover{
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 1);
  }

.card-search {
  height: 120px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  cursor: pointer;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.card-padded{
  margin: 10px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}


.card-price {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.grade{
  position: absolute;
  right: 6px;
  top: 19px;
}


// .card-booked{
//   position: absolute;
// }




.card-look{
  border-radius: 5px;
  height: 400px;
  margin: 10px 0;
  position: relative;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.card-filter {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-size: cover;
  z-index:4;

}
.card-check{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $green;
  font-size: 40px;
  z-index: 5;
  border: 2px solid $green;
  opacity: 0.8;
}

.card-name{
  position: absolute;
  bottom: 20px;
  padding: 10px 15px;
  color: white;
  background-color: $gray-darker;
  opacity: 0.8;
  z-index: 100;
}

.card-hover p {
  text-align: center;
  margin: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0px 10px 0px;
  height: 73px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}

.card-hover{
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(255,255,255,0.6);
}


.size-image {
  //width: auto;
}






//---------------------------------------------------------


@media (max-width:450px) {
  .card{
    height: 110px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    cursor: pointer;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  }





}
