.compteur {
left: 30px;
bottom: 40px;
position: absolute;
font-size: 30px;

}
.count
{
  line-height: 50px;
  color:white;
  font-size:40px;
  font-weight: lighter;

}

.counter{
  padding-top:40px;
}



.fa {
  font-size: larger;
}

.fa-paper-plane-o{
 padding-right: 10px;
}


@media (max-width:450px) {
  .count{
    line-height: 25px;
    color:white;
    font-size: 25px;
    font-weight: lighter;
  }
}
