// #shiva
// {
//   position: relative;
//   width: 100px;
//   height: 100px;
//   //background: red;
//   -moz-border-radius: 50px;
//   -webkit-border-radius: 50px;
//   border-radius: 50px;
//   float:left;
//   margin:5px;
//  border: 2px solid blue;
// }
//
//
.compteur {
left: 30px;
bottom: 40px;
position: absolute;


}
.count
{
  line-height: 50px;
  color:white;
  //margin-left:30px;
  font-size:40px;
  font-weight: lighter;

}



// #circle {
//     width: 300px;
//     height: 150px;
// }


// .progress {
//   color: white;
//                 height: 300px;
//             }
//             .progress > svg {
//                 height: 100%;
//                 display: block;
//             }


