.feature-size {
  font-size: 50px;
  opacity: 1;
  color: #456990;
  border-bottom: 1px solid #D7DBDD;
  transition: opacity 0.5s ease;

}



.feature-icon{
  font-size: 60px;
  color: white;
}





.feature-size:hover{
  opacity: 0.5;

}

.border{
  border-top: 1px solid #D7DBDD;

}

.wrapper-feature{
  background-color: #f2f2f2;
  line-height : 50px;
  //margin-top: 40px;
  font-weight: lighter;
  margin-bottom: 0px;
}


.wrapper-pilot{
  margin-top:30px;
  margin:0;
  padding: 0px;
  font-size: 15px;
  color: white;
  font-weight: lighter;

}

.wrapper-pilot p {
  opacity:0.7;
}

.pilote{
  padding: 0;
  height: 387px;
  background:#4fd2c2;
  margin-left: -70px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.passager{
  padding: 0;
  height: 387px;
  background:#00bcd4;
  margin-right: -70px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-space-left{
padding-right:0;
}

.no-space-right{
  padding-left:0;
}








//------------feature test-----------




.feature-test img{
  position: relative;
  width: 100%;
  margin-top:50px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  overflow: hidden;

}






