.wrapper-registration {
  font-weight: lighter;
  //background: $gray-lighter;
  padding: 50px;
  margin: 10px auto;
  margin-bottom: 130px;
  border-radius: 12px;
}

.wrapper-registration p{
  text-align: justify;
}

.status-pilote{
  display: none;
}

.wrapper-registration span {
  font-size: 15px;
  font-weight: lighter;
  color: gray;
  letter-spacing: 6px;
  line-height : 40px;
}

.wrapper-registration ul{
  list-style:none;
}

.wrapper-registration li{
  background-color: $gray-lighter;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 15px;

}

.wrapper-registration span {

}

.wrapper-registration .paiement{
  background-color: $gray-light;
  font-weight: bold;
  color: $gray-lighter;
}

.hide-profile-field{
    display: block;
  }

@media (max-width:450px) {
  .hide-profile-field{
    display: none;
  }
}
