.new-ad-text {
  font-size: 15px;
  font-weight: lighter;
  //background: $celestial-blue;
  padding: 10px;
  margin: 10px auto;
  //margin-bottom: 130px;
  //border-radius: 12px;
  color: white;
}

.new-ad-text p{
  text-align: justify;
  color: $japanese-indigo;
  //border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.new-ad-text ul{
  list-style:none;
}

.new-ad-text li{
  color: $lapis-lazuli;
  //border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;

}

.session{
  font-weight: lighter;
  padding: 50px;
  margin: 10px auto;
  margin-bottom: 130px;
  border-radius: 12px;
}

.new-ad-form{
  padding: 50px;
  margin: 10px auto;
  font-weight: lighter;
}

.new-ad-form p{
  font-weight: lighter;
  background: $lapis-lazuli;
  padding: 20px;
  margin: 10px auto;
  border-radius: 12px;
  color: white;
}

.status-pilote{
  display: none;
}

.new-ad-form span {
  font-size: 15px;
  font-weight: lighter;
  color: gray;
  letter-spacing: 6px;
  line-height : 40px;
}



.new-ad-text .paiement{
  font-weight: bold;
  color: $gray-light;
}

.hide-profile-field{
    display: block;
  }

@media (max-width:450px) {
  .hide-profile-field{
    display: none;
  }
}
