.carousel-inner {
       height: 350px;

     }

.carousel-caption {
       top: 295px;

     }

.carousel {
  margin-top: 0px;
}

.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    margin-top: -216px;
  }

.carousel-caption h2 {
  font-size: 100px;
}
