
<div class="banner-show banner-new-ad" style="height: 200px; font-weight: bold; font-size: 40px;">
<p>Entrez un nouvel aéronef</p>
</div>
<% @reviews.each do |review| %>
  <p><%= review.description %></p>
<% end %>
